<% if logged_in? %>
<div>
<%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Jobs" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
</div>
<br>
<div>
<%= render @jobshow %>
<%= will_paginate @jobshow %>
</div>

<% else %>

<div class ="hero">
  <h1>Welcome!</h1>
  <p>Save time and have someone queue for you.</p>
</div>

<% end %>
