<div>
<p>
  <strong>Job Description:</strong>
  <%= @job.content %>
</p>
</div>
<div>
<p>
<strong>Posted By:</strong>
<%= @job.user.email %>
</p>
</div>

<div>
  <% if @job.reviews.any? %>
  <h3>Reviews (<%= @job.reviews.count %>):</h3>
  <ol>
    <%= render @reviews %>
  </ol>
  <%= will_paginate @reviews%>
  <% end %>
  <div>
  <%= render "reviews/new" %>
  </div>
  <div>
  <%= render "jobs/is_completed" %>
  </div>
  <div>
  <%= render "bids/new" %>
  </div>
  <div>
  <%= render @bid %>
  </div>
</div>
