<!DOCTYPE html>
<html>
  <head>
    <title>MyApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <% if logged_in? %> <!-- Already logged in --->
          <li>
            <%= link_to "New Job", new_job_path %>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_path %>
          </li>
          <li>
            <%= link_to "Log In", login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
