<!DOCTYPE html>
<html>
  <head>
    <title>MyApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="scripts/script.js"></script>
  </head>

  <body>
    <nav>
      <ul class = "navbar-left">
        <li>queuer</li>
      </ul>
      <ul class = "navbar-right">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <% if logged_in? %> <!-- Already logged in --->
          <li>
            <%= link_to "New Job", new_job_path %>
          </li>
          <li>
            <%= link_to "My Profile", current_user %>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%# link_to "Sign Up", new_user_path %>
            <a id="signup-btn" href="">Sign Up</a>
          </li>
          <li>
            <a id="login-btn" href="">Log In</a>
            <%# link_to "Log In", login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

  </body>
</html>
